<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/style.css}">
<script th:src="@{/js/app.js}" type="text/javascript"></script>
<title>CompanyABC</title>
</head>
<body>

	<nav>
		<a class="logoLink" th:href="@{/companyabc}" >A B C<em>ompany</em></a>
	</nav>

	<div class="leftmenu">
		<a class="menuButtChosen" th:href="@{/companyabc/addEmployee}">Dodaj
			nowego pracownika</a> <a class="menubuttons"
			th:href="@{/companyabc/positions}">Statystyki stanowisk</a> <a
			class="menubuttons" th:href="@{/companyabc/listOfEmployees}">Pracownicy</a>
	</div>
	<div class="cointeiner">

		<div class="formAdd">

			<form method="post" th:action="@{addEmployee}" th:object="${user}" id="send">
				<div class="form">
					<label class="formLabel">Imię</label><input type="text"
						th:field="*{name}" class="formInput" /><span class="formErrors"
						th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
				</div>
				<div class="form">
					<label class="formLabel">Nazwisko</label><input type="text"
						th:field="*{surname}" class="formInput" /><span
						class="formErrors" th:if="${#fields.hasErrors('surname')}"
						th:errors="*{surname}"></span>
				</div>
				<div class="form">
					<label class="formLabel"> Stanowisko</label> <select
						class="formSelect" th:field="*{position}">
						<option th:each="position : ${positions}"
							th:value="${position.id}" th:text="${position.name}"></option>
					</select>
				</div>
				<div class="form">
					<label class="formLabel">Email</label><input type="email"
						th:field="*{email}" class="formInput" /><span class="formErrors"
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				</div>
				<div class="form">
					<input class="formButton"  type="submit"
						value="Dodaj pracownika">
				</div>
			</form>
		</div>
	</div>

</body>
</html>