<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/style.css}"></link>
<script th:src="@{/js/app.js}" type="text/javascript"></script>

<title>CompanyABC</title>
</head>
<body>

	<nav>
		A B C<em>ompany</em>
	</nav>

	<div class="leftmenu">
		<a class="menubuttons" th:href="@{/companyabc/addEmployee}">Dodaj
			nowego pracownika</a> <a class="menubuttons"
			th:href="@{/companyabc/positions}">Statystyki stanowisk</a> <a
			class="menubuttons" th:href="@{/companyabc/listOfEmployees}">Pracownicy</a>
	</div>
	<div class="cointeiner">
		<div class="formAdd">
			<div class="formTittle">Lista pracowników</div>
			<br>
			<div class="text"> Aby wyszukać pracownika proszę wpisać imię lub nazwisko lub email</div>
			<input class="formSearch" id="myInput" type="text" placeholder="Szukaj..">
			<br>
			<table>
				<thead>
					<tr>
						<th>Nazwisko</th>
						<th>Imię</th>
						<th>Stanowisko</th>
						<th>Email</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="myTable" >
					<tr th:each="employee : ${employees}">
						<td th:text="${employee.surname}"></td>
						<td th:text="${employee.name}"></td>
						<td th:text="${employee.position.name}"></td>
						<td th:text="${employee.email}"></td>
						<td><a class="buttomEdit" th:href="@{editEmployee/{id}(id=${employee.id})}">Edytuj</a></td>
						<td><a class="buttomDelete" th:href="@{deleteEmployee/{id}(id=${employee.id})}"
							onclick="return confirm('Proszę o potwierdzenie usunięcia pracownika. Akcja nieodwracalna');">Usuń</a></td>

					</tr>
				</tbody>
			</table>

		</div>
	</div>
</body>
</html>