<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/style.css}">
<title>CompanyABC</title>
</head>
<body>

	<nav>
		<a class="logoLink" th:href="@{/companyabc}">A B C<em>ompany</em></a>
	</nav>

	<div class="leftmenu">
		<a class="menubuttons" th:href="@{/companyabc/addEmployee}">Dodaj
			nowego pracownika</a> <a class="menubuttons"
			th:href="@{/companyabc/positions}">Statystyki stanowisk</a> <a
			class="menubuttons" th:href="@{/companyabc/listOfEmployees}">Pracownicy</a>
	</div>
	<div class="cointeiner">

		<div class="formAdd">

			<div class="formTittle">
				Email już znajduje się bazie danych<br> Proszę o wybranie zadania
			</div>
			<a class="task"
			th:href="@{/companyabc/addEmployee}">Powrót do formularza nowego pracownika</a>
			<a class="task"
			th:href="@{/companyabc/listOfEmployees}">Przejście do listy pracowników</a>
			
		</div>
	</div>

</body>
</html>