@charset "UTF-8";

body{
	margin: 1px;
}

.cointeiner{
	position:relative;
	left:350px;
}

.leftmenu{
	position: absolute;
	width: 350px;
	background-color: #75D1BC;
	height:1000px;	
	
}

#logo{
	color: Tomato;
}
.menubuttons{
	color: 	#696969;
	margin:30px;
	display: block;
	position: relative;
	border: 1px solid #FEEFC6;
	-moz-border-radius: 15px;
	-webkit-border-radius: 12px;
	background-color: #fff8e6;
	padding-left: 10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size: 20px;
	width:275px;
	text-align: center;
	text-decoration: none;
	font-family: Helvetica, sans-serif;
}

nav{
	position: relative;
	color: #FEEFC6;
	background-color: #37A48B;
	padding: 15px; 
	font-size: 28px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	height: 36px;
}

#welcome{
	position: relative;
	top: 100px;
	left:500px;
	
	color: #37A48B;
	
	font-size: 48px;
}

