@charset "UTF-8";

.buttomEdit {
	color: #75D1BC;
	padding: 5px;
	border: 1px solid #75D1BC;
	border-radius: 15px;
	margin: 3px;
	text-decoration: none;
	margin-left:60px;
	
	
}

.buttomDelete {
	color: Tomato;
	padding: 5px;
	border: 1px solid Tomato;
	border-radius: 15px;
	margin: 3px;
	text-align: center;
	text-decoration: none;
	margin-left:40px;
}

body {
	padding: 0;
	font-family: Helvetica, sans-serif;
	margin: 0 auto;
}

.cointeiner {
	position: relative;
	left: 350px;
	margin-left: 25px;
	max-width: 1750px;
}

em {
	color: Tomato;
}

.form {
	margin-top: 5px;
	margin-bottom: 5px;
}

.formAdd {
	color: #696969;
	margin-top: 25px;
	margin-bottom: 25px;
}

.formButton {
	background-color: #75D1BC;
	color: #FEEFC6;
	margin-left: 175px;
	font-size: 24px;
	width: 300px;
	padding: 5px;
	border: 1px solid #75D1BC;
	border-radius: 20px;
}

.formErrors {
	padding: 5px;
	margin-left: 20px;
	color: Tomato;
	font-size: 24px;
}

.formInput {
	margin-left: 20px;
	width: 600px;
	height: 35px;
	padding-left: 5px;
	font-size: 20px;
	background-color: #ecf9f6;
	border-color: #ecf9f6;
	border-radius: 10px;
}

.formLabel {
	display: inline-block;
	padding: 20px;
	font-size: 24px;
	width: 100px;
	padding: 20px;
	font-size: 24px;
	width: 100px;
	margin: 5px;
}

.formSelect {
	width: 605px;
	margin-left: 20px;
	font-size: 20px;
	padding: 5px;
	text-align: center;
}

.formSearch {
	margin-left: 20px;
	width: 600px;
	height: 30px;
	margin-bottom: 35px;
	font-size: 20px;
	padding: 5px;
}

.formTittle {
	font-size: 36px;
	margin-bottom: 20px;
	margin-left: 175px;
}

.leftmenu {
	position: absolute;
	width: 350px;
	background-color: #75D1BC;
	height: 100%;
}

.menubuttons {
	color: #696969;
	margin: 30px;
	display: block;
	position: relative;
	border: 1px solid #FEEFC6;
	border-radius: 30px;
	background-color: #fff8e6;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
	width: 275px;
	text-align: center;
	text-decoration: none;
}

nav {
	position: relative;
	color: #FEEFC6;
	background-color: #37A48B;
	padding: 15px;
	font-size: 30px;
	font-weight: bold;
	height: 36px;
	width: 100%;
}

table {
	margin-left: 25px;
	border-collapse: collapse;
	width: 100%:

}

thead, tbody { display: block; }

#myTable{
	height: 600px;
	overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden; 
}

td, th {
	font-size: 16px;
	border-bottom: 1px solid #75D1BC;
	padding: 8px;
	text-align: left;
	vertical-align: middle;
	height: 30px;
	width: 150px;
}

#tdExcept {
	text-align: center;
}

th {
	color: #37A48B;
	font-size: 20px;
}

.text {
	font-size: 20px;
	font-style: italic;
	margin-left: 15px;
	margin-bottom: 5px;
}

tr:hover {
	background-color: #f5f5f5;
}

tr {
	border-bottom: 1px solid #75D1BC;
	width: 100%;
}

.specialSize{
	width: 200px;
}

#welcome {
	position: relative;
	top: 100px;
	left: 500px;
	color: #37A48B;
	font-size: 48px;
}