<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/style.css}"></link>
<title>CompanyABC | Login</title>
</head>
<body>

	<nav>
		A B C<span id="logo">ompany</span>
	</nav>


	<div class="cointeiner">
		
		<div class="formAdd">
		<div class="formTittle">LOGOWANIE </div>
		<form th:action="@{/login}" method="post">
            <div><label class="formLabel"> Username: </label><input type="text" name="username" class="formInput"/> </div>
            <div><label class="formLabel"> Password: </label><input type="password" name="password" class="formInput"/> </div>
            <div><input type="submit" value="Sign In" class="formButton"/></div>
        </form>
        </div>
	</div>

</body>
</html>