<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/style.css}"></link>
<title>CompanyABC</title>
</head>
<body>

	<nav id="navigator">ABCompany</nav>
	
		<div id="leftmenu">
			<button class="menubuttons">Dodaj nowego użytkownika</button>
			<button class="menubuttons">Wyszukaj pracownika</button>
			<button class="menubuttons">Pokaż obecne stanowiska</button>
			<button class="menubuttons">Usuń użytkownika</button>
		</div>
		<div></div>
	
</body>
</html>