<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/style.css}"></link>
<title>CompanyABC</title>
</head>
<body>

	<nav>
		A B C<em>ompany</em>
	</nav>

	<div class="leftmenu">
		<a class="menubuttons" th:href="@{/companyabc/addEmployee}">Dodaj
			nowego pracownika</a>  <a
			class="menubuttons" th:href="@{/companyabc/positions}">Statystyki stanowisk</a> <a class="menubuttons"
			th:href="@{/companyabc/listOfEmployees}">Pracownicy</a>
	</div>
	<div class="cointeiner">
		<span id="welcome">Witamy !!!</span>
	</div>

</body>
</html>