<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/style.css}"></link>
<title>CompanyABC</title>
</head>
<body>

	<nav>
		A B C<span id="logo">ompany</span>
	</nav>

	<div class="leftmenu">
		<a class="menubuttons" th:href="@{/companyabc/addEmployee}">Dodaj
			nowego pracownika</a> <a class="menubuttons"
			th:href="@{/companyabc/employees}">Wyszukaj pracownika</a> <a
			class="menubuttons" th:href="@{/companyabc/positions}">Statystyki
			stanowisk</a> <a class="menubuttons"
			th:href="@{/companyabc/listOfEmployees}">Pracownicy</a>
	</div>
	<div class="cointeiner">
		<br>
		<div class="formAdd">
		<div  class="formTittle" th:text="'Liczba wszystkich pracowników: ' + ${numberOfUsers}"></div>
		<br>
			<table>
				<thead>
				<tr>
				<th>Nazwa stanowiska</th>
				<th>Liczba pracowników</th>
				<tr>
				</thead>
				<tbody >
					 <tr th:each="cu:${Users}">
						<td th:text="${cu.key}"></td>
						<td th:text="${cu.value}"></td>
					</tr>
				</tbody>

			</table> 
			
		</div>
	</div>

</body>
</html>