<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/CSS/style.css}"></link>
<title>CompanyABC</title>
</head>
<body>

	<nav>
		<a class="logoLink" th:href="@{/companyabc}">A B C<em>ompany</em></a>
	</nav>

	<div class="leftmenu">
		<a class="menubuttons" th:href="@{/companyabc/addEmployee}">Dodaj
			nowego pracownika</a> <a class="menubuttons"
			th:href="@{/companyabc/positions}">Statystyki stanowisk</a> <a
			class="menubuttons" th:href="@{/companyabc/listOfEmployees}">Pracownicy</a>
	</div>
	<div class="cointeiner">
		<br>
		<div class="formAdd">
			<!-- <div class="formTittle"
				th:text="'Liczba wszystkich pracowników: ' + ></div> -->
			<br>
			<table>
				<thead>
					<tr>
						<th></th>
						<th class="specialSize">Nazwa stanowiska</th>
						<th class="specialSize">Liczba pracowników</th>
					<tr>
				</thead>
				<tbody>
					<tr th:each="user, iterator:${Users}">
						<td th:text="${iterator.index+1}" />
						<td th:text="${user.key}" class="specialSize"></td>
						<td th:text="${user.value}" id="tdExcept" class="specialSize"></td>
					</tr>
					<tr>
						<td colspan="2" class="specialSize" />
						<td id="tdExcept" >
						<!--  <b th:text="${#aggregates.sum(Users.![value])}"></b> -->
						<b th:text="${numberOfUsers}"></b>
						</td>
					</tr>
				</tbody>

			</table>

		</div>
	</div>

</body>
</html>